@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Playpen Sans";
}

body {
  max-width: 767px;
  margin: 0 auto;
  background-color: #32325d;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='767' height='560' preserveAspectRatio='none' viewBox='0 0 767 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath5151%26quot%3b)' fill='none'%3e%3crect width='767' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='38.705' cx='43.81' cy='481.47' fill='url(%26quot%3b%23SvgjsLinearGradient5152%26quot%3b)'%3e%3c/circle%3e%3ccircle r='20.475' cx='88.91' cy='85.48' fill='url(%26quot%3b%23SvgjsLinearGradient5153%26quot%3b)'%3e%3c/circle%3e%3ccircle r='20.72' cx='415.09' cy='267.25' fill='url(%26quot%3b%23SvgjsLinearGradient5154%26quot%3b)'%3e%3c/circle%3e%3ccircle r='49.585' cx='692.49' cy='352.02' fill='url(%26quot%3b%23SvgjsLinearGradient5155%26quot%3b)'%3e%3c/circle%3e%3ccircle r='22.155' cx='461.67' cy='467.7' fill='url(%26quot%3b%23SvgjsLinearGradient5156%26quot%3b)'%3e%3c/circle%3e%3ccircle r='46.59' cx='109.01' cy='234.61' fill='url(%26quot%3b%23SvgjsLinearGradient5157%26quot%3b)'%3e%3c/circle%3e%3ccircle r='16.02' cx='233.95' cy='180.89' fill='url(%26quot%3b%23SvgjsLinearGradient5158%26quot%3b)'%3e%3c/circle%3e%3ccircle r='50.16' cx='310.05' cy='154.74' fill='url(%26quot%3b%23SvgjsLinearGradient5159%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath5151'%3e%3crect width='767' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='-33.599999999999994' y1='481.47' x2='121.22' y2='481.47' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5152'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 90%2c 141%2c 1)' offset='0.82'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='129.86' y1='44.53' x2='47.959999999999994' y2='126.43' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5153'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(186%2c 74%2c 172%2c 1)' offset='0.84'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='373.65' y1='267.25' x2='456.53' y2='267.25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5154'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 90%2c 141%2c 1)' offset='0.82'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='791.6600000000001' y1='252.84999999999997' x2='593.32' y2='451.18999999999994' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5155'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(186%2c 74%2c 172%2c 1)' offset='0.84'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='417.36' y1='467.7' x2='505.98' y2='467.7' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5156'%3e%3cstop stop-color='rgba(171%2c 60%2c 81%2c 1)' offset='0.19'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='15.829999999999998' y1='234.61' x2='202.19' y2='234.61' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5157'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 192%2c 90%2c 1)' offset='0.58'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='201.91' y1='180.89' x2='265.99' y2='180.89' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5158'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 192%2c 90%2c 1)' offset='0.58'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='410.37' y1='154.74' x2='209.73000000000002' y2='154.74' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5159'%3e%3cstop stop-color='rgba(50%2c 50%2c 93%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 136%2c 107%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  color: black;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}

.message {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.message .message__title {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px black;
  position: relative;
}
.message .message__title::after {
  content: "";
  width: 100%;
  height: 24px;
  padding: 0 1.2rem;
  background-color: #f9f871;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.message form {
  width: 100%;
  height: 80%;
}
.message .message__area {
  width: 100%;
  height: 75%;
  border-radius: 15px;
  padding: 1.5rem;
  resize: none;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
  outline: none;
  border: solid 2px rgba(182, 182, 201, 0.3);
  background-color: rgba(190, 190, 221, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.message .message__nameContainer {
  text-align: end;
  margin-bottom: 1.7rem;
}
.message .message__nameContainer .message__nameInput {
  margin-left: 0.4rem;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 25px;
  color: black;
  border: none;
  background-color: rgba(190, 190, 221, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.message .message__nameContainer .message__nameInput::placeholder {
  color: #000000;
}
.message .message__btn {
  border: none;
  padding: 1.2rem;
  border-radius: 25px;
  background-color: #c05b79;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  font-size: 1rem;
}

.messasges {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.messasges .messages__link {
  text-align: end;
}
.messasges .messages__link .messages__btn {
  border: none;
  padding: 1.2rem;
  border-radius: 25px;
  background-color: #c05b79;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 15px;
}
.messasges .messages__link .messages__btn .messages__icon {
  color: #ffffff;
}
.messasges .messages__container {
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: none;
  background-color: rgba(190, 190, 221, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.messasges .messages__container .messages__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px 15px 0 0;
}
.messasges .messages__container .messages__top .messages__title {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.messasges .messages__container .messages__top .messages__title .messages__icon {
  padding: 0.5rem;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #c05b79;
}
.messasges .messages__container .messages__top .messages__title .messages__name {
  font-size: 1.2rem;
}
.messasges .messages__container .messages__top .messages__date {
  font-size: 0.9rem;
}
.messasges .messages__container .messages__bottom {
  padding: 1rem;
  font-size: 1.1rem;
}

.thx {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.thx .thx__title {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px black;
  position: relative;
}
.thx .thx__title::after {
  content: "";
  width: 100%;
  height: 24px;
  padding: 0 1.2rem;
  background-color: #f9f871;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.thx .thx__btn {
  border: none;
  padding: 1.2rem;
  border-radius: 25px;
  background-color: #c05b79;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  font-size: 1rem;
}

.btnTransparent {
  padding: 1.7rem;
  border-radius: 30px;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
  border: solid 2px rgba(182, 182, 201, 0.3);
  background-color: rgba(190, 190, 221, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*# sourceMappingURL=main.css.map */
