.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;

  .home__btn {
    padding: 1.7rem;
    border-radius: 30px;
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
    border: solid 2px rgba(182, 182, 201, 0.3);
    background-color: rgba(190, 190, 221, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}
