$font-size: 1.1rem;

.messasges {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.2rem;

  .messages__link {
    text-align: end;

    .messages__btn {
      @include rose-btn;
      display: inline-block;
      text-align: center;
      font-size: $font-size;
      padding: 0.5rem 0.7rem;
      border-radius: 15px;

      .messages__icon {
        color: #ffffff;
      }
    }
  }

  .messages__container {
    min-height: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    @include transparent-board(none);
    color: #000000;

    .messages__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.7rem;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 15px 15px 0 0;

      .messages__title {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        .messages__icon {
          padding: 0.5rem;
          border-radius: 10px;
          color: #ffffff;
          font-size: $font-size;
          background-color: #c05b79;
        }

        .messages__name {
          font-size: 1.2rem;
        }
      }

      .messages__date {
        font-size: 0.9rem;
      }
    }

    .messages__bottom {
      padding: 1rem;
      font-size: $font-size;
    }
  }
}
