.thx {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
  text-align: center;
  gap: 2rem;

  .thx__title {
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
    position: relative;

    &::after {
      content: "";
      width: 92%;
      height: 24px;
      background-color: #f9f871;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
    }
  }

  .thx__btn {
    @include rose-btn;
  }
}
